<div class="subheader splash">

</div> {{!-- end subheader div --}}

<div class="container form-card-container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Create a new Timeline</h1>
        </div>
        <!-- Form content -->
        <div class="card-body">
            <!-- Timeline Name input -->
            <div class="form">

                <div class="md-form">
                    <input type="text" id="timeline-name" class="form-control">
                    <label for="timeline-name">Timeline Name (required)</label>
                </div>

                <div class="md-form">
                    <input type="text" id="timeline-description" class="form-control">
                    <label for="timeline-description">Description (required)</label>
                </div>

                <div class="md-form">
                    <input type="text" id="timeline-image-url" class="form-control">
                    <label for="timeline-image-url">Image url</label>
                </div>


                <div class="form-row">
                    <div class="col">
                        <select class="custom-select md-form form" id="inputGroupSelect02">
                            <option data-id="0">Choose a Category</option>
                            {{#each categories}}
                            <option data-id="{{id}}">{{category}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <div class="md-form input-group mb-3">
                            <input type="text" class="form-control form-input-label" placeholder="Create a new category"
                                id="new-category-input">
                            <div class="input-group-append">
                                <button class="btn btn-md btn-secondary m-0 px-3" type="button"
                                    id="create-new-category">Add New</button>
                            </div>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary" id="create-timeline-btn">Create Timeline</button>
            </div>
        </div>
    </div>
</div>



<script>

    var $createButton = $("#create-timeline-btn");

    $createButton.on("click", function (event) {
        event.preventDefault();

        var name = $("#timeline-name").val().trim()
        var description = $("#timeline-description").val().trim()
        var url = $("#timeline-image-url").val().trim()
        var catId = $('select[name="timeline-category"] option:selected').data('id')

        var newTimeline = {
            timelineName: name,
            description: description,
            imageUrl: url,
            CategoryId: catId
        };

        //console.log(newTimeline);
        // Send the POST request.
        $.ajax({
            method: "POST",
            url: "/api/timelines",
            data: newTimeline
        }).then(function (data) {
            console.log(data.id)
            var timeline_id = data.id;
            window.location.href = "/edit/" + timeline_id;
        });
    });

    var $createCategoryButton = $("#create-new-category");

    $createCategoryButton.on("click", function (event) {
        event.preventDefault();

        console.log("Clicked ")
        var newCategory = {
            category: $("#new-category-input").val().trim()
        }

        console.log(newCategory)
        
        $.ajax({
            
            method: "POST",
            url: "/api/categories",
            data: newCategory
        }).then(function (data) {
            console.log(data.id)
            location.reload();
        });
    })

</script>