<div class="container">
    <div class="create-new-timeline">
        <h3>Create a new Timeline</h3>

        <div class="form-group">
            <input type="text" class="form-control" Placeholder="Name" id="image-url">
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                
                <div class="card-body">

                    <h5>Add a New Event</h5>
                    <form method="POST" role="form" class="new-event">
                        
                        <div class="form-group">
                            <input type="text" class="form-control" Placeholder="Event Name" id="event">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" Placeholder="Event Type" id="event-type">
                        </div>
                        
                        <div class="form-group">
                            <input type="date" class="form-control" Placeholder="Start Date" id="start-date">
                        </div>
                        
                        <div class="form-group">
                            <input type="date" class="form-control" Placeholder="End Date" id="end-date">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" Placeholder="Location" id="Location">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" Placeholder="Label Color" id="color">
                        </div>
                        
                        <div class="form-group">
                            <label for="Source">Source</label>
                            <input type="text" class="form-control" Placeholder="Name" id="source">
                        </div>



                    </form>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span
                                class="fa fa-fire"></span> Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>