<div id="home">
  <div class="container">
    <div class="row mt-4" id="top-row">
      {{!-- Create a new timeline button --}}
      <div class="col-4">
        <div class="input-group mb-3 shadow">
          <input type="text" class="form-control" placeholder="Timeline Name" aria-label="New Timeline title"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn main-btn" type="button" id="button-addon2" href="/create"><i class="fas fa-plus"></i> Create</button>
          </div>
        </div>
      </div>

      {{!-- Select timeline by category dropdown --}}
      <div class="col-4">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle main-btn" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter by category
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Fiction</button>
            <button class="dropdown-item" type="button">Non-Fiction</button>
            <button class="dropdown-item" type="button">Historical</button>
          </div>
        </div>
      </div>
    </div> {{!-- end top-row --}}


    {{!-- view cards section --}}
    <div class="row mt-6">

      <div class="card-columns">
        <div class="card">
          <img class="card-img-top"
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/harry-potter-and-the-chamber-of-secrets-poster-1545148861.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Harry Potter Timeline</h5>
            <p class="card-text">This is another card with title and supporting text below. This card has some
              additional
              content to make it slightly taller overall.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top"
            src="http://img.src.ca/2014/06/04/635x357/140604_3v20c_rci-dday-shore_sn635.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">World War 2</h5>
            <p class="card-text">This is another card with title and supporting text below. This card has some
              additional content to make it slightly taller overall.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top"
            src="https://www.indiewire.com/wp-content/uploads/2016/12/got-battle-of-the-bastards-1024x682.jpg?w=780"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Game of Thrones Battles</h5>
            <p class="card-text">This is another card with title and supporting text below. This card has some
              additional
              content to make it slightly taller overall.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div> {{!-- End container --}}
</div> {{!-- End home --}}