
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <h3 class="display-4">{{timelines.timelineName}}</h3>
                <h5>{{timelines.description}}</h5>
            </div>
        </div>
        
    </div>

<div id="visualization"></div>